@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #dcdde1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.topo {
    background-color: #8EB6BF;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-radius: 10px;
}

.foto {
    border-radius: 50%;
    cursor: pointer;
    margin-right: auto;
    width: 80px;
    height: 90px;

}

.titulo {
    display: inline-block;
    padding: 0px 0px;
    margin-right: auto;
    position: absolute;
    left: 380px;
    top: 125px;
    color: white;
    font-family: "Montserrat", sans-serif;

}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #8395a7;
}

body {
    padding: 5% 10%;
    background-color: #dcdde1;
}

.feed {
    /* display: grid;
    grid-template-columns: repeat(12, 1Fr);
    grid-auto-rows: 100px;
    grid-gap: 16px; */
    margin: 40px 30px;

}

.feed{
    display:flex;
}

.card-1,
.card-2,
.card-3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    transition: all .3s ease;
    margin: auto 10px;
    height: 300px;
}

.card-1:hover,
.card-2:hover,
.card-3:hover {
    cursor: pointer;
    box-shadow: 13px 10px 16px -6px rgba(168, 168, 168, 1);
    transform: scale(1.02);
}

.card-1 {
    background-image: linear-gradient(to bottom,
            rgba(10, 10, 10, 0) 0%,
            rgba(10, 10, 10, 0) 50%,
            rgba(10, 10, 10, 0.7) 100%), url('../img/matematica.jpg');
}

.card-2 {
    background-image: linear-gradient(to bottom,
            rgba(10, 10, 10, 0) 0%,
            rgba(10, 10, 10, 0) 50%,
            rgba(10, 10, 10, 0.7) 100%), url('../img/portugues.jpeg');
} 

.card-3 {
    background-image: linear-gradient(to bottom,
            rgba(10, 10, 10, 0) 0%,
            rgba(10, 10, 10, 0) 50%,
            rgba(10, 10, 10, 0.7) 100%), url('../img/fisica.jpeg');
}

.card-1,
.card-2,
.card-3 {
    grid-column-start: span 4;
}

.descricao {
    display: grid;
    grid-template-columns: repeat(12, 1Fr);
    grid-auto-rows: 100px;
    grid-gap: 16px;
    margin: 40px 0 40px 0;
    align-items: center;
}

.texto {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
    transition: all .3s ease;
    grid-column-start: span 4;
}


.materias {
    text-align: center;
    width: 100%;
    transform: translateY(10%);
}

.bola {
    align-items: center;
    justify-content: space-between;
    background-color: #8EB6BF;
    border-radius: 30%;
    box-shadow: 13px 10px 16px -6px rgba(168, 168, 168, 1);
    width: 90px;
    height: 90px;
    margin: 10px;
    margin: 40px;
    display: inline-block;
    color: #dcdde1;
    overflow: hidden;
    position: relative;
}

.bola p {
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
}

.bola:hover p {
    transform: scale(1.3);
    color: #dcdde1;
}

.bola::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #8395a7;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
    text-outline: 90%;
}

.bola:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }

    50% {
        left: 10%;
        top: -30%;
    }

    100% {
        top: -10%;
        left: -10%;
    }
}

@media screen and (max-width:1200px) {
    /* .card:nth-child(n) {
        -ms-grid-column: span 6;
        grid-column-start: span 6;

    }

    .feed {
        display: grid;
        grid-template-columns: repeat(18, 1Fr);
        grid-auto-rows: 100px;
        grid-gap: 25px;
        margin: 40px 0 40px 0;
    } */

    .descricao {
        display: grid;
        grid-template-columns: repeat(12, 1Fr);
        grid-auto-rows: 100px;
        grid-gap: 0px;
        margin: 50px 0 25px 0;
        align-items: center;
    }

    .titulo {
        margin-left: 25px;
    }

    .feed {
        display: flex;
        flex-direction: column;
    }

    .feed--card--container {
        display: flex;
        flex-direction: column;
    }

    .card-1,
    .card-2,
    .card-3 {
        height: 200px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:900px) {
    /* .card:nth-child(n) {
        -ms-grid-column: span 12;
        grid-column-start: span 12;

    } */

    .feed {
        display: grid;
        grid-template-columns: repeat(8, 1Fr);
        grid-auto-rows: 100px;
        grid-gap: 16px;
        margin: 40px 0 40px 0;
    }

    .bola {
        width: 50px;
        height: 45px;
        margin: 5px;
        margin: 20px;
    }

    .bola>p {
        line-height: 40px;
    }

    .texto {
        padding: 8px;
    }

    .topo {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .feed {
        display: flex;
        flex-direction: column;
    }

    .feed--card--container {
        display: flex;
        flex-direction: column;
    }

    .card-1,
    .card-2,
    .card-3 {
        height: 200px;
        margin-bottom: 30px;
    }

}

@media screen and (max-width:600px) {
    .feed {
        display: flex;
        flex-direction: column;
    }

    .feed--card--container {
        display: flex;
        flex-direction: column;
    }

    .card-1,
    .card-2,
    .card-3 {
        height: 200px;
        margin-bottom: 30px;
    }

    /* .card:nth-child(n) {
        -ms-grid-column: span 18;
        grid-column-start: span 18;

    } */
    .descricao {
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: 80px;
        grid-gap: 4px;
        margin: 25px 0 15px 0;
        align-items: center;
    }

    .bola {
        width: 40px;
        height: 45px;
        margin: 5px;
        margin: 20px;
    }

    .titulo {
        display: inline-block;
        padding: 0px 0px;
        margin-right: auto;
        position: absolute;
        left: 205px;
        top: 110px;
        color: #fff;
        font-family: "Montserrat", sans-serif;
    }
}