*{

}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:#dcdde1;
}
    
.box h1{
    color: #dcdde1;
    text-transform: uppercase;
    font-weight: 500;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ff6b6b;
    text-align: center;
    border-radius: 10px;
}
.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #8395a7;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color:black;
    border-radius: 224px;
    transition: 0.25s;

}
.box input[type ="text"]:focus,.box input[type ="password"]:focus{
 width: 280px;
 border-color: black;
}.box input[type="submit"]{
    border: 0;
    background: #8395a7;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #dcdde1;
    padding: 14px 40px;
    outline: none;
    color:white;
    border-radius: 224px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background-color: #edf0f1;

}