body {
    background-color: #FAB3C4;
    ;
}
form {
  position:absolute;
  top:10%;
  left:37%;
  padding:12px;
  width: 350px;
  border-radius:10px;
  background-color: #FFD7E0;
}
.titulo__h2{
    color:gray;
}

.link,
.link:hover
{
    text-decoration: none;
    color: gray;
    font-size: .8rem;
}



label{
    color:gray;
}
form input{
  padding:5px;
  display:block;
  border-radius:10px;
  margin: 5px;
  border-style:none;

}
.caixa{
  width:90%;
}
.btn{
    width: 50%;
    margin: 2vh 10vh;
    border-radius: 4px;
    background-color: #F67C92;
    color: #ffffff;
}
