*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

#about{
  padding: 40px 20px 20px 20px;
  display: flex;
  align-items: center;
flex-wrap: wrap;
}

.cobertura{

border-radius: 5px;
background-color: #f1f2f6;
display: flex;
  align-items: center;
flex-wrap: wrap;
}


.about-left-col{
  flex-basis: 50%;
}

.about-left-col img{
  width: 100%;
}

.about-right-col{
  flex-basis: 50%;
text-align: center;
}

.about-text{
  max-width: 500px;
  margin-right: 100PX;
  display: inline-block;
}

.about-text h3{
  margin: 20px 0 10px;
  font-size: 28px;
  font-style: italic;
}

.about-text h3{
  font-size: 20px;
  font-style: italic;
  color: #797979;
}

form{
width: 360px;
}

.title{
margin: 5px 0;
color: #333;
text-transform: uppercase;
  font-size: 1.0rem;
  text-align: center;
}

.login-content{

padding: 50px;

}

.login-content .input-div{
position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
margin-top: 0;
}

.i{
color: #d9d9d9;
display: flex;
justify-content: center;
align-items: center;
}

.i i{
transition: .3s;
}

.input-div > div{
  position: relative;
height: 10px;
}

.input-div > div > h5{
position: absolute;
left: 10px;
top: 50%;
transform: translateY(-50%);
color: #999;
font-size: 18px;
transition: .3s;
}

.input-div:before, .input-div:after{
content: '';
position: absolute;
bottom: -2px;
width: 0%;
height: 2px;
background-color: #ffa1b8;
transition: .4s;
}

.input-div:before{
right: 50%;
}

.input-div:after{
left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
width: 50%;
}

.input-div.focus > div > h5{
top: -5px;
font-size: 15px;
}

.input-div.focus > .i > i{
color: #ffa1b8;
}

.input-div > div > input{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
border: none;
outline: none;
background: none;
padding: 0.5rem 0.7rem;
font-size: 1.2rem;
color: #555;
font-family: 'poppins', sans-serif;
}

.input-div.pass{
margin-bottom: 4px;
}

a{
display: block;
text-align: right;
text-decoration: none;
color: #999;
font-size: 0.9rem;
transition: .3s;
}

a:hover{
color: #d67086;
}

.btn{
display: block;
width: 100%;
height: 50px;
border-radius: 25px;
outline: none;
border: none;
background-image: linear-gradient(to right,#ffd7e0, #d67086, #ffa1b8);
background-size: 200%;
font-size: 1.2rem;
color: #fff;
font-family: 'Poppins', sans-serif;
text-transform: uppercase;
margin: 1rem 0;
cursor: pointer;
transition: .5s;
}
.btn:hover{
background-position: right;
} 

/* body {
    background-color: #FAB3C4;
    ;
}
form {
  position:absolute;
  top:10%;
  left:37%;
  padding:12px;
  width: 350px;
  border-radius:10px;
  background-color: #FFD7E0;
}
.titulo__h2{
    color:gray;
}

.link,
.link:hover
{
    text-decoration: none;
    color: gray;
    font-size: .8rem;
}



label{
    color:gray;
}
form input{
  padding:5px;
  display:block;
  border-radius:10px;
  margin: 5px;
  border-style:none;

}
.caixa{
  width:90%;
}
.btn{
    width: 50%;
    margin: 2vh 10vh;
    border-radius: 4px;
    background-color: #F67C92;
    color: #ffffff;
} */
