*{
margin: 0;
padding: 0;
font-family: sans-serif;
box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:#dcdde1;
    display: flex;
}
h1{
    color: gray;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}
.link{
    text-decoration: none;
    color:gray;


}
.box{
    display: inline-block;
    width: 400px;
    padding: 40px;
    position:absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #FFCCD8;
    border-radius: 10px;
    right: 60px;
}
.nome{
    border: 0;
    background: none;
    display: flex;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #F67C92;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color:black;
    border-radius: 224px;
    transition: 0.25s;
}
.email{
    border: 0;
    background: none;
    display: flex;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #F67C92;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color:black;
    border-radius: 224px;
    transition: 0.25s;
}
.senha{
    border: 0;
    background: none;
    display: flex;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #F67C92;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color:black;
    border-radius: 224px;
    transition: 0.25s;
}

.box input[type ="text"]:focus,.box input[type ="password"]:focus{
 width: 280px;
 border-color: black;
}
.cadastrar{
    border: 0;
    background: #F67C92;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #dcdde1;
    padding: 14px 40px;
    outline: none;
    color:white;
    border-radius: 224px;
    transition: 0.25s;
    cursor: pointer;
}
.cadastrar:hover{
    background-color: #D26E83;
}
