*{

}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:#dcdde1;
    display: flex;
}
h1{
    color: #dcdde1;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.box{
    display: inline-block;
    width: 400px;
    padding: 40px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #8EB6BF;
    border-radius: 10px;
    right: 60px;
}
.nome{
    border: 0;
    background: none;
    display: flex;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #8395a7;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color:black;
    border-radius: 224px;
    transition: 0.25s;
}
.email{
    border: 0;
    background: none;
    display: flex;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #8395a7;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color:black;
    border-radius: 224px;
    transition: 0.25s;
}
.senha{
    border: 0;
    background: none;
    display: flex;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #8395a7;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color:black;
    border-radius: 224px;
    transition: 0.25s;
}

.box input[type ="text"]:focus,.box input[type ="password"]:focus{
 width: 280px;
 border-color: black;
}
.cadastrar{
    border: 0;
    background: #8395a7;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #dcdde1;
    padding: 14px 40px;
    outline: none;
    color:white;
    border-radius: 224px;
    transition: 0.25s;
    cursor: pointer;
}
.cadastrar:hover{
    background-color: #e7ebec;
    color:#827F75;
}
