* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.topo {
    background-image: linear-gradient(to right, #d67086, #ffa1b8, #ffd7e0);
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: .5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#menuBtn {
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;

}

.titulo {
    display: inline-block;
    padding: 0px 0px;
    margin-right: auto;
    left: 380px;
    top: 125px;
    color: grey;
    font-family: "Montserrat", sans-serif;

}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #8395a7;
}
.primary__content{
    /* background-color: pink; */
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.card__primary--aluno,
.card__primary--professor {
    width: 15vw;
    height: 50vh;


}
.card__primary--header,
.card__primary--bod {
    background-color: #e5e5e5;
    height: 50%;
    display: flex;
    align-items: center;
}
.card__text{
    margin:0 auto;
    font-size: 2.1rem;
}

.card__primary--body{
    background-color: #f5f5f5;
    height: 40%;
    display: flex;
    align-items: center;
}
.card__button{
    border-radius: 10px;
    padding:2vh;
    background-color: #ffa1b8;
    margin: 0 auto;
}
.card__button--link{
    text-decoration: none;
    font-size: 1.25em;
    color:#fff;
    font-weight: bold;
}
