*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#header{
    height: 100vh;
    background-image: url(/passosMagicos/public/storage/images/background.png); 
    background-position: center;
    background-size: cover;
}

.container{
    margin-right: 100px;
    margin-left: 100px;
}

.logo{
    margin-top: 30px;
    width: 150px;
}

.header-text{
    max-width: 350px;
    margin-top: 100px;
}

h1{
    font-size: 34px;
}

.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0;
}

.common-btn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
}

p{
    font-size: 15px;
    line-height: 18px;
    color: #777;
}

.header-text button{
    margin-top: 20px;
    margin-bottom: 60px;
}

.line1{
    width: 15px;
    height: 15px;
    background-color: #f67c92;
    display: inline-block;
}

.line2{
    width: 80px;
    height: 1px;
    background-color: #f67c92;
    display: inline-block;
}

.line3{
    width: 60px;
    height: 1px;
    background-color: #f67c92;
    display: inline-block;
}

.line{
    line-height: 1px;

}

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: .5s;
}

nav ul li{
   list-style: none;
   margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

#menuBtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;

}

.card{
    margin-top: 0px;
}

.feed {
    margin: 40px 30px;
    display:flex;

}

.card-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    transition: all .3s ease;
    margin: auto 50px;
    height: 100px;
    width: 1150px;
    margin-left: 50px;
}

.card-1:hover {
    cursor: pointer;
    box-shadow: 13px 10px 16px -6px rgba(246, 124, 146, 1);
    transform: scale(1.02);
}

.card-1 {
    background-image: linear-gradient(to bottom,
            rgba(10, 10, 10, 0) 0%,
            rgba(10, 10, 10, 0) 50%,
            rgba(10, 10, 10, 0.7) 100%), url('/passosMagicos/public/storage/images/desk-office-pen-ruler.jpg');
}

#about{
    padding: 265px 0 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col{
    flex-basis: 50%;
}

.about-left-col img{
    width: 100%;
}

.about-right-col{
    flex-basis: 50%;
    text-align: right;
}

.about-text{
    max-width: 500px;
    margin-right: 100PX;
    display: inline-block;
}

.about-text h2{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
}

.about-text h3{
    font-size: 20px;
    font-style: italic;
    color: #797979;
}

footer {
    background-color: #f67c92;
    border-radius: 25px;
    height: 127px;
}

.middle {
    text-align: center;
    width: 100%;
    transform: translateY(10%);
}

.bola {
    align-items: center;
    justify-content: space-between;
    background-color: #edf0f1;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px black;
    width: 90px;
    height: 90px;
    margin: 10px;
    margin: 10px;
    display: inline-block;
    color: #f67c92;
    overflow: hidden;
    position: relative;
}

.bola i {
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
}

.bola:hover i {
    transform: scale(1.3);
    color:#8cabef;
}

.bola::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #ffd7e0;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
    text-outline: 90%;
}

.bola:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
