* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.topo {
    background-image: linear-gradient(to right, #d67086, #ffa1b8, #ffd7e0);
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: .5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#menuBtn {
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;

}

.titulo {
    display: inline-block;
    padding: 0px 0px;
    margin-right: auto;
    left: 380px;
    top: 125px;
    color: grey;
    font-family: "Montserrat", sans-serif;

}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #8395a7;
}




.content__primary {
    width: 100vw;
}

.container {
    width: 85%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    color: grey;
    margin: 0 auto;
}

.table {
    width: 100%;
    display: inline-block;
    /* flex-direction: column; */
    justify-content: center;
    margin-top: 2vh;
}

.table__head {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}

.table__head--gap {
    width: 20%;

}

.table__head--field {
    width: 100%;

}

.table__body {
    border-bottom: 1px solid;
    width: 100%;
    display: flex;
    flex-wrap: wrap;


}

.table__body--gap {
    width: 20%;
}

.table__head--gapB {
    width: 20%;
}

.table__body--gapC {
    width: 20%;
}

.btn {
    background-color: #FFCCD8;
    border-radius: 6px;
    padding: 5%;
}

.btn a,
.exc {
    color: grey;
    cursor: pointer;

}

.botoes {
    margin-top: 2vh;
}

.btnC {
    background-color: #FFCCD8;
    border-radius: 6px;
    padding: 10px;
}

.btnC a {
    color: gray;
}
